name: Build

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build the mod
      uses: geode-sdk/build-geode-mod@main
      with:
        sdk: v4.10.0
        
    - uses: actions/upload-artifact@v4
      with:
        name: Build Output
        path: build/*.geode
